# Ignore arquivos de sistema e de configuração local
*.tmp
*.log
*.swp
*.bak
*.class
*.DS_Store
*.out
*.jar
*.lock
/node_modules
/.cache
/.config
/.gradle
/.m2
/.idea
/.vscode
/build
/target
/bin
/.gitignore
