# Compiled class file
*.class

# Log file
*.log

# Dependency directories
/.mvn/
target/
node_modules/

# Build output
dist/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# PostgreSQL files
*.sql
*.dump

# Ignore coverage files
coverage/
