# Definir o final de linha
* text=auto

# Tratamento de arquivos de texto
*.java text
*.html text
*.css text
*.js text
*.json text
*.sql text

# Marcar arquivos binários
*.jar binary
*.war binary
*.png binary
*.jpg binary
*.gif binary
*.zip binary
*.tar binary

# Configurar diferenciação
*.java diff=java
*.js diff=javascript
