.hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 120px;
  }
  
  .menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover {
    background-color: #575757;
  }